// Buttons

button, .button {   
        @include border-radius(2px);
        width: auto; 
        margin: 0; padding: 0.785em 1.42em 0.785em; 
        background: $darkgray; 
        border: none;
        color: $white !important; 
        cursor: pointer; 
        display: inline-block;  
        font: bold 1rem $basefont;
        text-align: center; 
        text-decoration: none; 

        // Sizes
        &.xlarge { font-size: 20px; padding: 17px 26px; }
        &.large { font-size: 17px; padding: 15px 30px 16px; }
        &.medium { font-size: 16px; }
        &.small { font-size: 13px; padding: 7px 14px 8px; }
        &.expand { width: 100%; text-align: center; }

        // Colors
        &.gray { 
            background-color: $ash;
            &:hover, &:focus { background-color: $ash + 20; }
        }

        &.facebook {
            background-color: $facebookblue;
            &:hover, &:focus { background-color: $facebookblue - 20; }
        }

        &.twitter {
            background-color: $twitterblue;
            &:hover, &:focus { background-color: $twitterblue + 20; }
        }

        &.google {
            background-color: $googlegray;
            &:hover, &:focus { background-color: $googlegray + 20; }
        }

        &.green {
            background-color: $green;
            &:hover, &:focus { background-color: $green + 20; }
        }

        &.black {
            background-color: $darkgray;
            &:hover, &:focus { background-color: $darkgray + 20; }
        }

        &.white {
            background-color: $white;
            border: 1px solid $platinum;
            color: $copycolor !important;
            &:hover, &:focus { border-color: $ash; }
        }

        &.clear {
            background-color: transparent;
            border: 1px solid #80878F;
            color: $copycolor !important;
            &:hover, &:focus { border-color: #80878F; }
        }        

        &.red {
            background-color: $red;
            &:hover, &:focus { background-color: $red + 20; } 

            &.line {
                color: $red !important;
                border: 1px solid $red;
                background-color: transparent;
            }  
        }

        &.orange {
            background-color: $orange;
            &:hover, &:focus { background-color: $orange + 20; }
        }
    }

    .disabled {
        cursor: default;
        background: $lightgray;
        color: $white;

        &:active { box-shadow: none; }
    }

    // Button Group
    .buttonGroup {
        width: auto;
        overflow: hidden;
        margin-bottom: 1em;
        a {
            @include border-radius(0);
            display: block;
            float: left;
            width: 33.3%;
            padding: 0.438rem 0.938rem;
            text-align: center;
            font-size: 0.750em;
            font-weight: bold;
            color: #80878F;
            border: 1px solid #80878F;

            &.active {
                background-color: #80878F;
                color: $white;
            }

            &:first-of-type {
                @include border-top-left-radius(2px);
                @include border-bottom-left-radius(2px);
                border-right: none;
            }

            &:last-child {
                @include border-top-right-radius(2px);
                @include border-bottom-right-radius(2px);
                border-left: none;
            }
        }

        &.two {
            a {
                width: 50%;
            }
        }
    }

    // Stacked Buttons
    .stackedButtons {
        .button, button {
            margin-bottom: 0.5em;
        }
    }

    // Sticky CTA
    .stickyCallToAction {
        background-color: $white;
        margin-left: -10px;
        padding: 10px;

        select {
            margin: 0;
        }
    }

