// Settings and Variables are to be setup here


// Breakpoints
$xlarge: 1200px;
$large: 1000px;
$medium: 900px;
$small: 670px;

// Site Max Width
$siteMaxWidth: $xlarge;

// Typography Variables
$basesize: 18px;
$basefont:  sans-serif;
$secondaryfont: $basefont;
$accentfont: $basefont;
$monospacefont: monospace;

// Radius
$radii: 3px; // Set base radius for UI elements
$setborderradius: "false";

// Header Height
$stickyheadheight: 6.125em; // Change this to reflect height of your sticky header

// Color Variables;
	// Blues
	$skyblue: #044C74;
	$darkblue: #04334D;

	// Hots
	$rust: #CE3A00;
	$orange: #ff7200;
	$yellow: #FFD700;
	$yelloworange: #f7941d;
	$red: #dc2b1b;

	// Cools
	$green: #03a838;
	$yellowgreen: #0dd70d;

	// Grays
	$white: #fff;
	$grayhighlight: #f5f5f5;
	$lightgray: #eee;
	$platinum: #e7e7e7;
	$ash: #aaa;
	$aluminum: #888;
	$gray: #555;
	$darkgray: #222;
	$black: #111;

	// Other Brand Colors
	$facebookblue: #4761A2;
	$twitterblue: #1F9BD3;
	$googlegray: $gray;
	$googleplusred: #D34836;
	$youtubered: #DC2B1B;
	$pinterestred: #CB2027;

	// Brand
	$brand: $rust;
	$brandhighlight: $brand - 20;

	// Border Colors
	$border: $gray;

	// Link Color
	$linkcolor: $darkgray;

	// Copy Color
	$copycolor: $darkgray;

	
// Card
$cardbg: #fff; // Set Card background
$cardborder: $border;