// Large
$headerheight: 98px;

.stickyHeadWrap {
	height: $headerheight;
}

#siteHead {
	height: $headerheight;
	padding: 0 1em;

	#items {
		text-align: right;
	}
}

#siteBody {
	margin-top: $headerheight;
	& > section {
		padding: 3em 2em;
	}
	.row {
		padding-top: 2em;
	}

	#hero {
	}

	#howWeDoIt {
	}

	#ourWork {
		.content {
			padding-right: 1.5em;
		}
	}
}