// Medium. 800px;

$headerheight: 98px;

.stickyHeadWrap {
	height: $headerheight;
}

#siteHead {
	text-align: center;
	height: $headerheight;
	
	#brand, #items {
		position: absolute
	}

	#brand {
		width: 150px;
		left: 0;
	}

	#items {
		width: auto;
		right: 0;
	}
}

#siteBody {
	margin-top: $headerheight;
	& > section {
		padding: 3em 2em;
	}
	#hero {
		padding: 7em 5em;
	}

	#ourWork {
		article {
			width: 49%;
			margin-bottom: 2em;
		}
	}

	#howWeDoIt {
		article {
			margin-bottom: 2em; 	
		}
	}

	#aboutUs {

	}
}