// Small.

$headerheight: 60px;

.stickyHeadWrap {
	height: $headerheight;
}

#siteHead {
	position: static;
	height: $headerheight;
	#brand {
		position: absolute;
		left: 0px;
		top: -5px;
		width: auto; //100px

		a {
			width: 100px;
		}
	}

	#menu {
		border:1px solid $border;
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;

		span { font-size: 2em; }
	}

	#items {
		background-color: $white;
		position: absolute;
		top: $headerheight;
		display: none;
		width: 100%;
		z-index: 10;
		
		a {
			display: block;
			padding: 1em;
			border: none;
			border-bottom: 1px solid $border;

			&.current {
				border-bottom: none;
				background-color: $brand;
				color: $white;
			}
		}
	}
}

#siteBody {
	margin-top: 0;

	& > section {
		padding: 3em 1em;
	}

	// .row {
	// 	padding: 0 1.2em;
	// }

	#hero {
		padding: 3em 1em;

		h2 { font-size: 1.2em; }
	}

	#ourWork {
		padding: 3em 1em;
		.row {
			margin: 0;
		}

		article {
			width: 100%;
			margin-bottom: 1.5em;
		}
	}

	#howWeDoIt {
		article {
			text-align: center;
		}

		p {
			padding: 0;
		}
		[class*="icon-"] {
			display: inline-block;
			float: none;
			margin: 0;
		}
	}

	#aboutUs {
		article {
			margin-bottom: 1.3em;
		}

		p {
			padding: 0;
		}
	}

	#return {
		display: none;
	}
}