// Body Rules

#siteBody {

    & > section {
        
    }

	article {
		h3 {
			margin-bottom: 0;
		}

		p {
			margin-top: 0.5em;
		}
	}

    #hero {
    	padding: 7em;
		background: url('/img/hero_bg.jpg') no-repeat;
		background-size: cover;
		color: $white;
		position: relative;

        h2 {
            max-width: 31.25em;
            margin: auto;
            line-height: 1.3em;
        }

		.icon-linearrowdown {
			font-size: 1em;
			color: $white;
			position: absolute;
			bottom: 1em;
			left: 49%;
			opacity: 0.3;
            animation: move 5s infinite;
            -webkit-animation: move 5s infinite;
		}

        @keyframes move {
            from { bottom: 2em; }
            to { bottom: 1em; }
        }

        @keyframes move {
            from { bottom: 2em; }
            to { bottom: 1em; }
        }
    }

    #ourWork {
        .row {
            margin-bottom: 3em;
        }
    }

    #howWeDoIt {
    	background: url('/img/process_bg.jpg') no-repeat $lightgray;
    	background-size: cover;
    	[class*="icon-"] {
    		font-size: 2.3em;
    		display: inline-block;
    		padding: 0.5em;
    		background-color: $brand;
    		color: $white;
    	}

    	p {
    		padding-top: 0;
    	}
    }

    #aboutUs {
    	img { width: 130px; }
    	article { margin-bottom: 2em; }
    	a {
            display: inline-block;
            margin-right: 5px;
        }
    	.position {
    		color: $ash;
    	}
    }

    #contactUs {
        background: url('/img/map_bg.jpg') $brand;
        background-size: cover;
        color: $white;
        h4 {
            font-size: 2em;
        }

        form {
            color: $copycolor;

            textarea {
                resize: none;
            }
        }
    }
}